
 h1{
    text-align: center;
    background-color: beige;
    padding: 20px;
 }
 article{
    color: black;
    padding: 30px;
    font-weight: bolder;
   
 }
 body{
    background-image: url('cooking-bg.jpg');
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
   
}
p{
    padding: 20px;
    margin: 0;
    border: 0;
    background-color: #de879b;
    font-weight: bolder;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    height: 40px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin: 20px 0;
    justify-content: center;
   

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.1); 
    border: 2px solid bisque;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: black;
}

.grid-item img {
    width: 100%; 
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    height: 150px;
}
section{
    text-align: center;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 50px;
    
}
form{
    height: 100px;
    margin-bottom: 40px;
}
#newsletter{
    background-color: bisque;
    height: 50px;
    text-align: center;
}
